a{
    color: #222;
    font-size: 36px;
    text-decoration: none;
}

a:hover{
    color: orange;
    
}

.btn:hover{
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
        
}

.btn{
    font-size: 36px;
    padding: 20px;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: orange;
    color: orangered;
    cursor: pointer;
}